//bacgrounds
$body-bg: #ffffff;

//fonts
$basic-family: "Roboto", "Arial", "Helvetica", sans-serif;
$second-family: "IBM Plex Mono", monospace, "IBM Plex Sans", sans-serif;
$plex-sans-family: "IBM Plex Sans", monospace, sans-serif;
$circe-family: "CirceRegular","Roboto", "Arial", "Helvetica", sans-serif;

//container
$container-min-width: 320px;
$container-max-width: 1140px;

//color
$title-color-black: #000000;
$subtitle-color-black: #000000;
$logo-color: #0c1b66;
$button-color-black: #000000;

//border
$button-border-black: #000000;

//media
$xs: 350px;
$xs-s:462px;
$sm: 556px;
$md: 768px;
$ms: 954px;
$lg: 1140px;
