.footer {
  background-color: $footer-bg-dark;
  position: relative;
}
.footer__container {
  padding: 30px;
}
.footer__top {
  display: flex;
  flex-direction: column;
  cursor: default;
  @include media($sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include media($ms) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__wrap {
  margin-bottom: 26px;
  @include media($sm) {
    margin-right: 40px;
  }
}
.footer__title {
  color: $footer-color-white;
  @include font(14px, 18px, 400, $second-family);
  margin-bottom: 6px;
}
.footer__subtitle {
  color: $footer-color-grey;
  @include font(14px, 18px, 400, $second-family);
  @include media($sm) {
    max-width: 260px;
  }
}
.footer__bottom::before {
  content: " ";
  position: absolute;
  height: 1px;
  background-color: $footer-bg-grey;
  width: 100%;
  top: 0;
}
.footer__bottom {
  display: flex;
  position: relative;
  padding-top: 30px;
  flex-wrap: wrap;
}
.footer__order {
  cursor: default;
  color: $footer-color-grey;
  @include font(14px, 20px, 400, $circe-family);
  @include media($xs-s) {
    margin-right: 57px;
  }
}
.footer__privacy {
  color: $footer-color-grey;
  @include font(14px, 20px, 400, $circe-family);
  text-decoration: none;
  margin-right: 15px;
  cursor: pointer;
}
.footer__conditions {
  text-decoration: none;
  display: flex;
  align-items: center;
  max-width: 180px;
  cursor: pointer;
}
.footer__circle {
  background-color: $footer-color-grey;
  height: 4px;
  width: 4px;
  text-decoration: none;
  border-radius: 50%;
  display: block;
  margin-right: 8px;
}
.footer__condition {
  color: $footer-color-grey;
  text-decoration: none;
  @include font(14px, 20px, 400, $circe-family);
}
