/* Slider */

// .slick-slider {
//     position: relative;
//     display: block;
//     box-sizing: border-box;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     -ms-touch-action: pan-y;
//     touch-action: pan-y;
//     -webkit-tap-highlight-color: transparent;
// }
// .slick-list {
//     position: relative;
//     overflow: hidden;
//     display: block;
//     margin: 0;
//     padding: 0;

//     &:focus {
//         outline: none;
//     }

//     &.dragging {
//         cursor: pointer;
//         cursor: hand;
//     }
// }
// .slick-slider .slick-track,
// .slick-slider .slick-list {
//     -webkit-transform: translate3d(0, 0, 0);
//     -moz-transform: translate3d(0, 0, 0);
//     -ms-transform: translate3d(0, 0, 0);
//     -o-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
// }

// .slick-track {
//     position: relative;
//     left: 0;
//     top: 0;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;

//     &:before,
//     &:after {
//         content: "";
//         display: table;
//     }

//     &:after {
//         clear: both;
//     }

//     .slick-loading & {
//         visibility: hidden;
//     }
// }
// .slick-slide {
//     float: left;
//     height: 100%;
//     min-height: 1px;
//     [dir="rtl"] & {
//         float: right;
//     }
//     img {
//         display: block;
//     }
//     &.slick-loading img {
//         display: none;
//     }

//     display: none;

//     &.dragging img {
//         pointer-events: none;
//     }

//     .slick-initialized & {
//         display: block;
//     }

//     .slick-loading & {
//         visibility: hidden;
//     }

//     .slick-vertical & {
//         display: block;
//         height: auto;
//         border: 1px solid transparent;
//     }
// }
// .slick-arrow.slick-hidden {
//     display: none;
// }
// /* Слайдер */
.slick-slider {
  position: relative;
} /* Слайдер запущен */
.slick-slider.slick-initialized {
} /* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  border-radius: 22px;
  overflow: hidden;
} /* Лента слайдов */
.slick-track {
  display: flex;
  width: 120px;
  @include media($md) {
    width: 220px;
  }
  @include media($lg) {
    width: 320px;
  }
}
/* Слайд */
.slick-slide {
  margin-right: 130px;
  @include media($md) {
    margin-right: 0;
  }
  @include media($lg) {
    margin-right: 6px;
  }
} /* Слайд активный (показывается) */
.slick-slide.slick-active {
} /* Слайд основной */
.slick-slide.slick-current {
} /* Слайд по центру */
.slick-slide.slick-center {
} /* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  height: 25px;
  width: 25px;
  border-radius: 24px;
  font-size: 0;
  cursor: pointer;
  @include media($md) {
    height: 30px;
    width: 30px;
  }
  @include media($lg) {
    height: 48px;
    width: 48px;
  }
} /* Стрелка влево */
.slick-arrow.slick-prev {
  right: 34px;
  background: url(../img/header/arrow.svg) no-repeat center;
  background-color: white;
  border: none;
  background-size: 55%;
  @include media($md) {
    right: 45px;
  }
  @include media($lg) {
    background-size: 60%;
    right: 64px;
  }
} /* Стрелка вправо */
.slick-arrow.slick-next {
  background: url(../img/header/arrow.svg) no-repeat center;
  background-color: white;
  border: none;
  transform: rotate(180deg);
  background-size: 55%;
  @include media($lg) {
    background-size: 60%;
  }
} /* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
} /* Активная точка */
.slick-dots li.slick-active {
} /* Элемент точки */
.slick-dots li button {
}
