.slick-slider {
  position: relative;
} /* Слайдер запущен */
.slick-list {
  border-radius: 22px;
  overflow: hidden;
} /* Лента слайдов */
.slick-track {
  display: flex;
  width: 120px;
  @include media($md) {
    width: 220px;
  }
  @include media($lg) {
    width: 320px;
  }
}
/* Слайд */
.slick-slide {
  margin-right: 130px;
  @include media($md) {
    margin-right: 0;
  }
  @include media($lg) {
    margin-right: 6px;
  }
}
.slick-arrow {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  height: 25px;
  width: 25px;
  border-radius: 24px;
  font-size: 0;
  cursor: pointer;
  @include media($md) {
    height: 30px;
    width: 30px;
  }
  @include media($lg) {
    height: 48px;
    width: 48px;
  }
} /* Стрелка влево */
.slick-arrow.slick-prev {
  right: 34px;
  background: url(../img/header/arrow.svg) no-repeat center;
  background-color: $slick-bg-white;
  border: none;
  background-size: 55%;
  @include media($md) {
    right: 45px;
  }
  @include media($lg) {
    background-size: 60%;
    right: 64px;
  }
} /* Стрелка вправо */
.slick-arrow.slick-next {
  background: url(../img/header/arrow.svg) no-repeat center;
  background-color: $slick-bg-white;
  border: none;
  transform: rotate(180deg);
  background-size: 55%;
  @include media($lg) {
    background-size: 60%;
  }
}
