.slider {
  display: flex;
  align-items: center;
  min-width: 0;
  width: 320px;
  @include media($md) {
    width: 600px;
  }
  @include media($lg) {
    width: 1000px;
  }
}
.slider__item {
  max-width: 120px;
  height: 120px;
  @include media($md) {
    max-width: 220px;
    height: 220px;
  }
  @include media($lg) {
    max-width: 320px;
    height: 320px;
  }
}
.slider__img {
  border-radius: 30px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  @include media($md) {
    width: 190px;
    height: 220px;
  }
  @include media($lg) {
    width: 320px;
    height: 320px;
  }
}
