.subtitle {
  @include font(16px, 20px, 400, $second-family);
  color: $subtitle-color-black;
  @include media($md) {
    @include font(18px, 24px, 400, $second-family);
  }
}
.subtitle--width{
    max-width: none;
}
.subtitle--mb{
    margin-bottom: 34px;
}